.product-image {
  transition: transform 0.3s ease;
}

.product-image:hover {
  transform: scale(1.1);
}

.top {
  text-align: center;
  font: 6rem 'Times New Roman', Times, serif;
  background-color: gray;
  color: white;
}

.finalAdd{
  text-align: center;
  font: 3rem 'Times New Roman', Times, serif;
  background-color: lightblue;
  display: block;
  margin: 20px auto; /* This centers the button horizontally */
  border-radius: 20px;
  cursor: pointer;
}

.finalAdd:hover {
  background-color: #7991aa;
}
